.mb-10 { margin-bottom: 10px; }
.mt-10 { margin-top: 10px; }
.menu li:hover ul { display:block; }

.lista_noticias div h2 { font-size: 14pt; font-weight: bold; border-bottom: 2px solid #ccc; padding-bottom: 5px; }
.lista_noticias div a { display: block; }
.lista_noticias div a span { text-align: left; }

div.publicidade { height: 100px; background-color: #FF9A66;}
div.publicidade h2 { margin-top: 20px; color: #FFF; border-bottom-color: #FFF; }